
table{
background-color: white;
}

body{
background-image: url(fondo.ane.jpg);
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px 10px;
    border-width: 3px;
    border-color:#3c4700;
    border-style: solid;
    border-radius: 50px;
 background-color: #62c50682;
        color:  #3c4700;
    }
    .re{
        background-color: #62c50682;  
    }
    .im{
        padding: 6px 10px;
        border-width: 3px;
        border-color: #dee300;
        border-style:dashed;
        border-radius: 40px;
            color:  #dee300;
    }

    h3{
        color: #dee300;
    }