body{
background-image: url(fondo.webp);
}
table{
    background-color: #ffeec7;

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px 10px;
    border-width: 3px;
    border-color:#f56919;
    border-style: solid;
    border-radius: 50px;
 background-color: #93d0d7e4;
        color:  #f56919;
}

.im{
    padding: 6px 10px;
    border-width: 3px;
    border-color: #f56919;
    border-style:dashed;
    border-radius: 40px;
        color:  #f56919;
}

.re{
  background-color: #afdce1c4;
}
h3{
    color: #5ab507;
    background-color: #afdce1c4;
}