body{
    background-image: url(lake-930213_1280.jpg);
}

h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 6px 10px;
background-color: #537f5b;
    border-width: 3px;
    border-color: #163832;
    border-style: solid;
    border-radius: 50px;
    color:  #162138;
}
table{
    background-color: #afcbb4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.re{
    background-color: #abd1e78c;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #162138;
    background-color:#537f5b ;
}
.imag{
padding: 6px 10px;
border-width: 3px;
border-color: #162138;
border-style:dashed;
border-radius: 40px;
    color: #162138;
}